.info>img {
    width: 317px;
    height: 317px;
    background-color: orangered;
    border-radius: 10px 10px 0 0;
    margin-bottom: 21px;
}

.card {
    width: 317px;
    background-color: #1A1B21;
    border-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info>h2 {
    font-size: 1.5625em;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 0 6.19px 0;
    color: #FFFFFF;
}

.info>h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 15px;
    text-align: center;
    margin: 0 0 8.81px 0;
    color: #F3BF99;
}

.info>h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.64em;
    line-height: 150%;
    margin: 0 0 14px 0;
    text-align: center;
    color: #F5F5F5;
}

.mail::before {
    background: url('assets/Mail.svg') no-repeat scroll center center;
    content: "";
    display: inline-block;
    color: #374151;
    height: 16px;
    margin-right: 8px;
    vertical-align: -15%;
    width: 16px;
}

.info>table{
    margin: 0 35px 35px 35px;
}

.info--tabledata {
    padding: 8px 18px;
    border-radius: 5px;
    background-color: white;
}

.mail {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: #374151;
    text-align: center;
    text-decoration: none;
}